{% extends "layout.twig" %}
{% block title %} Blog | {{ parent() }} {% endblock %}
{% block page_header %}Blog <small>life in softpro</small>{% endblock %}

{% block page_content %} 
    {% for post in posts %}
    <div class="post">
        <h2>#{{ post.getId }} <a href="/blog/{{ post.getId }}">{{ post.getTitle }}</a> <small>{{ post.getCreatedAt }}</small></h2>
        <div>{{ post.getContent|raw }}</div>
        <div><a href="/blog/{{ post.getId }}#comments">комментарии (12)</a></div>
    </div>
    {% endfor %}
{% endblock %}